@use "../scss/PaletteCouleur.scss" as *;

.navbar {
  display: flex;
  align-items: center;
  padding: 0 2rem;
  color: black;
  font-weight: 550;
  gap: 2rem;
  @media screen and (width <= 768px) {
    text-transform: uppercase;
    font-weight: 400;
  }

  @media screen and (max-width: 768px) {
    text-transform: uppercase;
    font-weight: 600;
    gap:1rem;
    & .navbar__logo img {
      width: 100px; 
      height: auto;
    }

   
    & a div{
      font-size: 12px;
    }
  }

  & > *:first-child {
    margin-right: auto;
  }
  & a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    &.active,
    &:hover {
      text-decoration: underline;
    }
  }
}